<!DOCTYPE html>
<meta http-equiv="Content-Type" content ="charset=UTF-8"/>
<html>
  <head>
    <title>Magic Button Testing</title>
    <link href='/main.css' rel='stylesheet' type='text/css'/>
  </head>

  <body onload="document.hy.cmd.focus()">
    <div id="page">
      <div id="content"  <!-- begin content -->

        <div id="header">
          <form id="hy" name="hy" action="<%= @site/set_msg %>" method="post">
          <center>
            <%= addGmailLink() %>
              Msg:
            <input type="text" id="act" name="cmd" value="<%= @msg_suggest %>"/>
          </center>
          </form>
        </div>

               <!--       Can Also add the following to below:     -->
               <!--         showTextOrHighlight(hash) +            -->

        <h3> <%= @label %>   </h3>
        <div id="reply">
            <% @d = "" %>
            <% @foo.each { |hash| 
               @d += '<li>'
               @d = @d + 
                      addPhone(hash) +
                      addSMS(hash) + 
                      addStatusBulb(hash) + 
                      addDetailLink(hash) + 
                      ifPresentThenShow(hash, 'PrimaryCC') + '(' +
                      ifPresentThenShow(hash, 'Relationship') + ')' +
                      ifPresentThenShow(hash, 'CCphone') + ': ' + 
                      ifPresentThenShow(hash, 'title') + 
                      ifPresentThenShow(hash, 'url') + 
                      addCircle(hash) +
                      addGoogleLink(hash['search_string']) +
                      addWikipediaLink(hash['search_string']) + 
                      addPubMedLink(hash['search_string'])
               @d += '</li>'  } %>
        
          <ol>   <%= @d %>   </ol>
        </div>
        
      </div>  <!-- end content div -->
    </div>  <!-- end page div -->
  </body>
</html>

